::ng-deep :root {
    --max-width: 500px; /* define the max width value as a CSS variable */
    --min-width: 300px;
  }
 

body{
/*      border: 2px solid rgb(37, 149, 171);
 */   
 width: 100%;
 height:100%;
 max-width: var(--max-width);
 min-width: var(--min-width);

 margin:0;
 padding: 0;

 display: flex;
 flex-direction: column;

 overflow: auto;

}


.theme-wrapper{
    position: relative;
    overflow: hidden;
    height: 200px;
   
}


#themePic{
    width: 100%;
    height: 100%;
     animation: zoomOut 3s forwards;
     transform-origin: center;
     
}
@keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.3);
    }
}

/* #profilePic{
    position:absolute;
    width: 100%;
    height: 100%;
    margin: auto auto;
    top: 0;
    right:0;
    opacity: 0.6;
    border-radius: 10px;
    
} 
 */

section{
     /* border: 2px solid rgb(37, 149, 171); */
     background-image: url('src/assets/michael-limousine-images/michael-limousine-background.jpg');
     background-repeat: no-repeat;
     background-size: cover; 
     display: block;
    position: relative;
    overflow: auto; 
    flex:1;
 }
 section::-webkit-scrollbar{
    display: none;
     }


     section h2{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255, 0.8);
        text-align: center;
        margin-bottom: 40px;
        font-size: 33px;
        background-color: rgba(232, 216, 232, 0.08);
        padding: 15px 15px;
        /*font-size: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(193, 187, 232, 0.872); */
    
    }  
    section .about{
        width: 85%;
        margin: auto auto;
        text-align: center;
        color: rgb(255, 255, 255, 0.6);
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.45);
        border-radius: 20px;
        padding: 14px;
        margin-top: 10px;
    }   

section article p{
    direction: rtl;
    width: 95%;
    line-height: 1.5;
    font-size: 20px;
    text-align: right;
    margin-top: 15px;
   /* padding: 30px; */
}



section li{
    margin-right: 10px;
    direction: rtl;
    margin-bottom: 15px;
    text-align: center;
}


.Buttons{
     /* border: 4px solid rgb(211, 32, 151); */ 
     /* background-color: rgb(58, 72, 96); */
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     flex: 1;  
     margin-top: 15px;
     
}

.Buttons div{
      /* border: 1px solid rgb(16, 4, 92); */
      
 margin-top: 10px; 
 margin-bottom: 10px; 
    
 align-items: center;
 text-align: center;
 width: calc(100% / 3);

}
.Buttons i{
    font-size: 22px;
    color:black;

    width: 55px; 
    height: 55px;
    line-height: 55px;

    border-radius: 50%; 
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.653);
}

.Buttons p{
    color:rgba(255, 255, 255, 0.776);
    font-family: "Billabong", cursive;
    font-size: 16px;
    margin-top: 10px;
}




  
  